[submodule "apps/formex"]
	path = apps/formex
	url = git@github.com:jakub-zawislak/formex.git
	branch = master
[submodule "apps/formex_ecto"]
	path = apps/formex_ecto
	url = git@github.com:jakub-zawislak/formex_ecto.git
	branch = master
[submodule "apps/formex_vex"]
	path = apps/formex_vex
	url = git@github.com:jakub-zawislak/formex_vex.git
	branch = master
