<%= if assigns[:error] do %>
  <div class="alert alert-danger">
    oops
  </div>
<% end %>

<%= formex_form_for @form, registration_path(@conn, :register), [as: :registration], fn f -> %>

  <%= formex_rows f %>

<% end %>
